{% extends "layout.html" %}
{% block content %}

<div class="pure-g">
    

    <div class="pure-u-1-2">
        <div class="listing-card">
            <div class="img-placeholder"></div>
            <h2>Dinkytown Apartment 2 </h2>
            <p>$850 per month</p>
            <a href="/listing" class="pure-button">View Listing</a>

        </div>
    </div>


    


    <div class="pure-u-1-2">
        <div class="listing-card">
            <div class="img-placeholder"></div>
            <h2>Dinkytown Apartment 4 </h2>
            <p>$850 per month</p>
            <a href="/listing" class="pure-button">View Listing</a>

        </div>
    </div>

    

    <div class="pure-u-1-2">
        <div class="listing-card">
            <div class="img-placeholder"></div>
            <h2>Dinkytown Apartment 6 </h2>
            <p>$850 per month</p>
            <a href="/listing" class="pure-button">View Listing</a>

        </div>
    </div>




</div>

{% endblock %}